<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Add Regions</title>

    <style>
        div.scroll {
            width: 2200px;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
        }

        div.regionForm {

        }
    </style>


</head>
<body>
<br>
<br>
<div class="container">
<form th:action="@{/addregions}" th:object="${region}" method="post">
    Region name:
    <input type="text" th:field="*{name}" value=" ">
    <br>
    <br>
    Country:
    <select th:field="*{country}" id="countryBox">
        <option th:value="${selectedCountry.id}" selected th:text="${selectedCountry.getName()}"></option>
        <option th:each="country : ${countries}"
        th:value="${country.id}"
        th:text="${country.getName()}"></option>
    </select>
    <br>
    <br>
    <button type="submit">Add region</button>
</form>
    <br>
    <br>
    <select>
        <option th:each="regionExisting : ${regions}"
                th:value="${regionExisting}"
                th:text="${regionExisting}"></option>
    </select>
</div>



</body>


</html>