<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Add ski clubs</title>
</head>
<body>


    <div>

        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Club</th>
                <th>Existing Clubs</th>
<!--                <th>DB Club Name</th>-->
                <th>City</th>
                <th>Add new City?</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="club : ${skiClubs}">
                <td th:text="${club}" th:id="${club}+clubName"></td>
                <td>
                    <select>
                        <option th:each="skiClub : ${skiClubsDB}" th:text="${skiClub.name}"></option>
                    </select>
                </td>
<!--                <td>-->
<!--                    <input th:field="*{name}" type="text" th:value="${club}" th:id="${club}+clubNameTextField">-->
<!--                </td>-->
                <td>
                    <select th:field="*{city}" th:id="${club}+citySelect">
                        <option th:each="city : ${cities}"
                                th:value="${city.id}"
                                th:text="${city.name}"></option>
                    </select>
                </td>
                <td>
                    <input type="checkbox" th:id="${club}" name="addCity" onclick="newCityVisible(id)">
                    <!--suppress XmlInvalidId -->
                    <label for="addCity" th:id="${club}+label">new city?</label>

                    <form th:action="@{addskiclubsNewCity}" th:object="${city}" method="post">
                        <input type="text" th:field="*{name}" th:id="${club}+newCityText" disabled>
                        <select th:field="*{region}" th:id="${club}+selectRegion" disabled>
                            <option th:each="region : ${regions}"
                                    th:value="${region.id}"
                                    th:text="${region.name}">
                            </option>
                        </select>
                        <button type="submit" th:id="${club}+addButton" disabled>Add</button>
                    </form>
                </td>
                <td>
                    <input type="button" th:value="Add" th:id="${club}"  onclick="addSkiClubToSelect(id)">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <form th:action="@{addskiclubs}" th:object="${skiClubsToInsert}" method="post">
            <select id="addedSkiClubsSelect">
            </select>
            <input type="button" value="Delete entry" onclick="removeSkiClubFromSelect()">
            <button type="submit">Save Clubs to DB</button>
        </form>

    </div>

</body>

<script>

    <!--TODO sort options alphabetically -->
    function addSkiClubToSelect(id){
        const clubName = document.getElementById(id+ "clubName")
        var addedSkiClubsSelect = document.getElementById("addedSkiClubsSelect");
        const citySelected = document.getElementById(id+ "citySelect")

        if(clubName.value !== "" && citySelected.value > -1){
            var option = document.createElement("option")
            option.value = clubName.innerText.trim() + "," + citySelected.value
            option.text = clubName.innerText.trim()
            addedSkiClubsSelect.add(option)
        }
    }

    function removeSkiClubFromSelect(){
        var addedSkiClubsSelect = document.getElementById("addedSkiClubsSelect");
        addedSkiClubsSelect.remove(addedSkiClubsSelect.selectedIndex)
    }

    function newCityVisible(id) {
        const checkBox = document.getElementById(id);
        const newCityText = document.getElementById(id + "newCityText");
        const selectRegion = document.getElementById(id + "selectRegion");
        const addButton = document.getElementById(id + "addButton");

        if (checkBox.checked) {
            newCityText.removeAttribute("disabled")
            selectRegion.removeAttribute("disabled")
            addButton.removeAttribute("disabled")
        } else {
            newCityText.setAttribute("disabled", "disabled")
            selectRegion.setAttribute("disabled", "disabled")
            addButton.setAttribute("disabled", "disabled")
        }

    }
</script>
</html>