<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Insert ski clubs</title>
</head>
<body style="margin-top:10px;margin-left:10px;margin-right:10px;">


Select country:
<form th:action="@{'/insertskiclubs/changecode'}" th:object="${country}" method="post">
    <select th:field="*{id}">
        <option th:each="countryOption : ${countries}" th:value="${countryOption.id}" th:text="${countryOption.name}">
        </option>
    </select>
    <button type="submit">Select</button>
</form>
<br><br>


Add city:
<form th:action="@{'insertskiclubs/addcity'}" th:object="${newCity}" method="post" target="votary">
    <input type="text" th:field="*{name}" placeholder="City name">
    <select th:field="*{region}">
        <option th:each="region : ${regions}" th:value="${region.id}" th:text="${region.name}"></option>
    </select>
    <button type="submit">Save</button>
</form>
<br><br>

Add ski club:
<form th:action="@{insertskiclubs}" th:object="${newSkiClub}" method="post" target="votary">
    <label id="nameToCopyLabel">Name to Copy</label>
    <select th:field="*{name}" id="selectSkiClubName" onclick="feedbackLabelHidden(); nameToCopy()">
        <option th:each="skiClubName : ${skiClubsFromFis}" th:value="${skiClubName}" th:text="${skiClubName}"></option>
    </select>
    <select th:field="*{city}" onclick="feedbackLabelHidden()">
        <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.name}"></option>
    </select>
    <button type="submit" onclick="feedbackLabelVisible()">Save</button>
    <label id="clubAddedFeedbackLabel" style="visibility: hidden">Club Saved!</label>
</form>
<br>

Clubs already in database from this country:
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Id</th>
        <th>Club</th>
        <th>City</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="club : ${skiClubsInDB}">
        <td th:text="${club.id}"></td>
        <td th:text="${club.name}"></td>
        <td th:text="${club.city.name}"></td>
    </tr>
    </tbody>
</table>

<iframe name="votary" style="display:none;"></iframe>
</body>
<script>

    function feedbackLabelVisible() {
        document.getElementById("clubAddedFeedbackLabel").style.visibility = "visible"
    }

    function feedbackLabelHidden() {
        document.getElementById("clubAddedFeedbackLabel").style.visibility = "hidden"
    }

    function nameToCopy(){
        const selected = document.getElementById("selectSkiClubName")
        document.getElementById("nameToCopyLabel").textContent = selected.value
    }
</script>
</html>